/*
=============== 
Variables
===============
*/

:root {
  /* dark shades of primary color*/
  --clr-primary-1: hsl(205, 86%, 17%);
  --clr-primary-2: hsl(205, 77%, 27%);
  --clr-primary-3: hsl(205, 72%, 37%);
  --clr-primary-4: hsl(205, 63%, 48%);
  /* primary/main color */
  --clr-primary-5: hsl(205, 78%, 60%);
  /* lighter shades of primary color */
  --clr-primary-6: hsl(205, 89%, 70%);
  --clr-primary-7: hsl(205, 90%, 76%);
  --clr-primary-8: hsl(205, 86%, 81%);
  --clr-primary-9: hsl(205, 90%, 88%);
  --clr-primary-10: hsl(205, 100%, 96%);
  /* darkest grey - used for headings */
  --clr-grey-1: hsl(209, 61%, 16%);
  --clr-grey-2: hsl(211, 39%, 23%);
  --clr-grey-3: hsl(209, 34%, 30%);
  --clr-grey-4: hsl(209, 28%, 39%);
  /* grey used for paragraphs */
  --clr-grey-5: hsl(210, 22%, 49%);
  --clr-grey-6: hsl(209, 23%, 60%);
  --clr-grey-7: hsl(211, 27%, 70%);
  --clr-grey-8: hsl(210, 31%, 80%);
  --clr-grey-9: hsl(212, 33%, 89%);
  --clr-grey-10: hsl(210, 36%, 96%);
  --clr-white: #fff;
  --clr-red-dark: hsl(360, 67%, 44%);
  --clr-red-light: hsl(360, 71%, 66%);
  --clr-green-dark: hsl(125, 67%, 44%);
  --clr-green-light: hsl(125, 71%, 66%);
  --clr-black: #222;
  --transition: all 0.3s linear;
  --spacing: 0.1rem;
  --radius: 0.25rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  --max-width: 1170px;
  --fixed-width: 620px;
}

/*
  =============== 
  Global Styles
  ===============
  */

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background: var(--clr-grey-10);
  color: var(--clr-grey-1);
  line-height: 1.5;
  font-size: 0.875rem;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4 {
  letter-spacing: var(--spacing);
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75rem;
  color: var(--clr-grey-2);
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.25rem;
}

h4 {
  font-size: 0.875rem;
}

p {
  margin-bottom: 1.25rem;
  color: var(--clr-grey-3);
}

@media screen and (min-width: 800px) {
  h1 {
    font-size: 3rem;
  }

  h2 {
    font-size: 2.5rem;
  }

  h3 {
    font-size: 1.75rem;
  }

  h4 {
    font-size: 1rem;
  }

  body {
    font-size: 1rem;
  }

  h1,
  h2,
  h3,
  h4 {
    line-height: 1;
  }
}

/*  global classes */


/*
  =============== 
  Search
  ===============
  */
.search-form {
  width: 90vw;
  max-width: var(--max-width);
  margin: 0 auto;
  margin-top: 5rem;
  margin-bottom: 3rem;
}

.form-input {
  width: 100%;
  border: none;
  border-bottom: 3px solid var(--clr-grey-8);
  max-width: 600px;
  background: transparent;
  padding: 1rem;
  font-size: 1rem;
  color: var(--clr-grey-3);
  text-transform: uppercase;
  letter-spacing: var(--spacing);
  margin-top: 1rem;
}
.error-message{
  color: var(  --clr-red-dark);
}
/*
  =============== 
  Buttons
  ===============
  */

.btn-container {
  width: 50vw;
  max-width: var(--max-width);
  margin: 0 auto;
  margin-bottom: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-container p {
  margin-bottom: 0;
  font-size: 1.2rem;
  font-weight: bold;
}

.btn-container button {
  margin: 0.1rem;
  padding: 1.20rem 2.50rem;
  text-transform: capitalize;
  font-weight: bold;
  font-size: 1.5rem;
  border-color: transparent;
  background: var(--clr-primary-5);
  border-radius: var(--radius);
  color: var(--clr-white);
  letter-spacing: var(--spacing);
  cursor: pointer;
}

/* =============== 
  Spinner
  ===============
  */
.spinner-container {
  position: relative;
}

@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}

.loading {
  width: 6rem;
  height: 6rem;
  margin: 0 auto;
  margin-top: 10rem;
  border-radius: 50%;
  border: 3px solid #ccc;
  border-top-color: var(--clr-primary-5);
  animation: spinner 0.6s linear infinite;
}

/*
  =============== 
 Courses and overview
  ===============
  */
.courses {
  width: 90vw;
  margin: 0 auto;
  margin-bottom: 5rem;
  gap: 0.5rem;
}

.overview {
  background: var(--clr-white);
  border-radius: var(--radius);
  padding: 2rem 2rem;
}

.overview p {
  padding: 1rem;
}

.title {
  line-height: 1.5;
  margin-bottom: 0.25rem;
}

.info {
  margin-bottom: 0.5rem;
  color: var(--clr-grey-5);
}

.read-link {
  font-size: 0.85rem;
  margin-right: 0.75rem;
  text-transform: capitalize;
  color: var(--clr-primary-5);
}

.remove-btn {
  background: transparent;
  color: var(--clr-red-dark);
  border-color: transparent;
  cursor: pointer;
  text-transform: capitalize;
  font-size: 0.85rem;
}

/*
  =============== 
 Header
  ===============
  */
header {
  padding: 30px;
  text-align: center;
  background: var(--clr-primary-6);
  color: white;
  font-size: 30px;
}

/*
  =============== 
  Footer
  ===============
  */
footer {
  padding: 20px;
  margin-top: 100px;
  position: fixed;
  left: 0;
  z-index: 10;
  bottom: 0;
  width: 100%;
  background: var(--clr-primary-4);
  color: white;
  text-align: center;
}

.breadcrum {
  padding: 25px 16px;
  text-decoration: none;
}
.breadcrum a:link{
  color: var(--clr-primary-5);
}
.breadcrum a:visited{
  color: var(--clr-primary-5);
}
.breadcrum a:hover {
  color: var(--clr-primary-5);
  text-decoration: underline;
}

.subject-title {
  padding: 10px 16px;
  color: var(--clr-grey-1);

}

.subject-title a:link {
  color: var(--clr-grey-1);
}

.subject-title a:visited {
  color: var(--clr-grey-1);
}

.subject-title a:hover {
  text-decoration: underline;
  color: var(--clr-primary-5);
}

/*
  =============== 
Flex box for search input and button
  ===============
  */
.search-container {
  display: flex;
  flex-direction: row;
  font-size: 30px;
  text-align: center;
}

.search-container div {
  padding: 10px;
  flex: 50%;
}

@media (max-width: 600px) {
  .search-container {
    flex-direction: column;
  }
}

@import "https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css";